*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #6D6AE0;
  --bg-secondary: #FFFFFF;
  --text-color-primary: #000000;
  --text-color-secondary: #FFFFFF;
  --text-w-light: 300;
  --text-w-bold: 500;
  --text-size-lg: 6rem;
  --text-size-sm: 1rem;
  --text-size-xs: 0.875rem;
}

/* Utils */
.--light {
  font-weight: var(--text-w-light);
}

.--bold {
  font-weight: var(--text-w-bold);
}

.--big {
  font-size: var(--text-size-lg);
}

.--small {
  font-size: var(--text-size-sm);
}

.--mayus {
  text-transform: uppercase;
}

body {
  background-color: var(--bg-secondary);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (min-width:640px) {
 .container {
  max-width:640px
 }
}

@media (min-width:768px) {
 .container {
  max-width:768px
 }
}

@media (min-width:1024px) {
 .container {
  max-width:1024px
 }
}

@media (min-width:1280px) {
 .container {
  max-width:1280px
 }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

.menu {
  margin: 2.25rem 0 0 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  list-style: none;
  border-radius: 30px;
  background-color: var(--bg-primary);
  color: var(--text-color-secondary);
  font-size: var(--text-size-xs);
}

.menu__option {
  padding: 0.75rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-weight: var(--text-w-bold);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  margin-top: 4%;
}

.content__section-presentation__mixed {
  position: relative;
}



.content__section-presentation__mixed::after {
  content: "";
  display: flex;
  justify-content: flex-start;
  margin-top: -6%;
  margin-bottom: 2%;
  height: 1rem;
  background: var(--bg-primary);
  width: 100%;
  bottom: 1rem;
  z-index: -1;
}

.content__section-gallery {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

.content__section-gallery__profile {
  border-radius: 150%;
  width: 60%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}

.footer__section-social {
  display: flex;
  align-items: center;
  margin-bottom: 2.25rem;
}

.footer__section-social__item {
  height: 2.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.footer__section-social__item path{
  fill: #6D6AE0;
}
