*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #3ED182;
  --bg-secondary: #FFFFFF;
  --text-color-primary: #000000;
  --text-color-secondary: #FFFFFF;
  --text-w-light: 300;
  --text-w-bold: 500;
  --text-size-lg: 6rem;
  --text-size-md: 2rem;
  --text-size-sm: 1rem;
  --text-size-xs: 0.875rem;
}

/* Utils */
.--light {
  font-weight: var(--text-w-light);
}

.--bold {
  font-weight: var(--text-w-bold);
}

.--big {
  font-size: var(--text-size-lg);
}

.--small {
  font-size: var(--text-size-sm);
}

.--mayus {
  text-transform: uppercase;
}

body {
  background-color: var(--bg-secondary);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:640px) {
 .container {
  max-width:640px
 }
}

@media (min-width:768px) {
 .container {
  max-width:768px
 }
}

@media (min-width:1024px) {
 .container {
  max-width:1024px
 }
}

@media (min-width:1280px) {
 .container {
  max-width:1280px
 }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: flex;
}

.navbar__section-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.navbar__section-social__item {
  height: 2.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.navbar__section-social__item path{
  fill: #000000;
}

.content {
  display: flex;
  height: 100%;
}

.content__section-menu {
  flex: 1;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  color: var(--text-color-primary);
  font-size: var(--text-size-md);
  padding-right: 3rem;
  height: 100%;
}

.menu__option {
  padding: 2rem 1.5rem;
  height: 6rem;
  border-radius: 20px;
  font-weight: var(--text-w-light);
  cursor: pointer;
  border: 1px solid var(--bg-primary);
  width: 90%;
}

.menu__option:nth-child(even) {
  align-self: flex-end;
  margin: 6rem 0;
  text-align: center;
}

.menu__option__text {
  position: relative;
}

.menu__option [class$="text"]::after {
  content: '';
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 10%;
  margin-left: 0.5rem;
  background-image: url("arrow.svg");
  background-repeat: no-repeat;
}

.content__section-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__section-gallery {
  margin-top: 3rem;
}

.content__section-gallery__profile {
  border-radius: 100%;
  width: 50%;
}
